<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <ul id="footer-menu" class="nav">
          <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-120 nav-item"><a href="https://developer.evotor.ru/%d1%80%d0%b0%d0%b7%d1%80%d0%b0%d0%b1%d0%be%d1%82%d0%ba%d0%b0/" class="nav-link">Разработка</a></li>
          <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-121 nav-item"><a href="https://developer.evotor.ru/%d0%bf%d1%80%d0%be%d0%b4%d0%b0%d0%b6%d0%b0/" class="nav-link">Продажа</a></li>
          <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-549 nav-item"><a href="https://developer.evotor.ru/docs/" class="nav-link">Документация</a></li>
          <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-119 nav-item"><a href="https://developer.evotor.ru/faq/" class="nav-link">FAQ</a></li>
        </ul>
      </div>

      <div class="col col-12 col-lg-6">
        <div class="footer__contacts">
          <span class="footer__contacts__item">© Эвотор 2018</span>
          <a class="footer__contacts__item" href="mailto:info@evotor.ru">info@evotor.ru</a>
          <a class="footer__contacts__item" href="tel:+74959334451">+7 (495) 933-44-51</a>
          <div class="footer__offer">
            <a class="footer__offer__link" href="https://auth.evotor.ru/legal/offer/actual" target="_blank">Оферта</a>
          </div>
        </div>
      </div>

      <div class="col col-12 col-lg-6 social">
        <a class="social__link" href="https://www.instagram.com/evotor.ru/" target="_blank">
                            <svg class="icon icon--instagram"><use xlink:href="#icon--instagram"></use></svg>
                        </a>
        <a class="social__link" href="https://www.youtube.com/channel/UC9A4cfxEdRU4aRY6fYUYjFA" target="_blank">
                            <svg class="icon icon--youtube"><use xlink:href="#icon--youtube"></use></svg>
                        </a>
        <a class="social__link" href="https://new.vk.com/evotor" target="_blank">
                            <svg class="icon icon--vk"><use xlink:href="#icon--vk"></use></svg>
                        </a>
        <a class="social__link" href="https://ok.ru/group/57944585011232" target="_blank">
                            <svg class="icon icon--ok"><use xlink:href="#icon--ok"></use></svg>
                        </a>
        <a class="social__link" href="https://www.facebook.com/evotor.ru/" target="_blank">
                            <svg class="icon icon--fb"><use xlink:href="#icon--fb"></use></svg>
                        </a>
        <a class="social__link" href="https://twitter.com/evotor_news" target="_blank">
                            <svg class="icon icon--twitter"><use xlink:href="#icon--twitter"></use></svg>
                        </a>
      </div>
    </div>
  </div>
</footer>
