<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container topnavlinks">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <!-- entries without drop-downs appear here -->
        {% assign secondarytopnav = site.data[page.secondarytopnav] %} {% for entry in secondarytopnav.navbar_singleitems %} {% for item in entry.items %} {% if item.url contains "http://" or item.url contains "https://" %}
        <li><a href="{{item.url}}" class="noCrossRef">{{item.title}}</a></li>
        {% elsif page.url contains item.url %}
        <li class="active"><a href="{{item.url | remove: " / "}}">{{item.title}}</a></li>
        {% else %}
        <li><a href="{{item.url | remove: " / "}}">{{item.title}}</a></li>
        {% endif %} {% endfor %} {% endfor %}
        <!-- entries with drop-downs appear here -->

        {% for entry in secondarytopnav.navbar_dropdowns %} {% for folder in entry.folders %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for folderitem in folder.folderitems %} {% if folderitem.url contains "http://" or folderitem.url contains "https://" %}
            <li><a href="{{folderitem.url}}" class="noCrossRef">{{folderitem.title}}</a></li>
            {% elsif page.url contains folderitem.url %}
            <li class="dropdownActive"><a href="{{folderitem.url |  remove: " / "}}">{{folderitem.title}}</a></li>
            {% else %}
            <li><a href="{{folderitem.url | remove: " / "}}">{{folderitem.title}}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </li>
        {% endfor %} {% endfor %}
      </ul>
