---
---
<!DOCTYPE html>
<html>

<head>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W4CBFKS');
  </script>
  <meta charset="utf-8">
  <title>{{page.title}} | {{site.uistring.title}}</title>
  <base target="_self">
  <meta name="description" content="{% if page.content %}{{ page.content | truncatewords: 30 | strip_html }} {% else %}{{site.uistring.description}}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" value="notranslate">
  <link rel="icon" type="image/x-icon" href="favicon.ico">



  <!--stylesheets / link tags loaded here-->
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/sidebar.css" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/{{site.highlighting_css}}.css" />
  <link rel="stylesheet" href="assets/css/{{site.navbar_style}}.css" />
  <link rel="stylesheet" href="assets/css/customstyles.css" />
  <link rel="stylesheet" href="assets/css/magnific-popup.css">

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/navgoco.jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

</head>

<body data-spy="scroll" data-target="nav#toc" data-offset="20">
  <div class="page-container">


    <!-- Navigation -->

    {% include topnav.html %}

    <ul class="nav navbar-nav navbar-right">

      <li>
        <!--start search-->
        <div id="search-demo-container">
          <form action="search.html" method="get">
            <input type="text" id="search-input" placeholder="{{site.uistring.search_placeholder_global}}" name="query">
          </form>
        </div>
        <!--end search-->
      </li>
      <li>
        <a class="btn btn-login noCrossRef" href="https://dev.evotor.ru/#/store/auth/login" role="button">Вход</a>
      </li>
    </ul>
  </div>
  </div>
  <!-- /.container -->
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">REST API Облака Эвотор</h1>
      <p class="lead">Используйте REST API, чтобы быть в курсе изменений, которые происходят у ваших клиентов, и управлять данными пользователей платформы: магазинами, товарами, сотрудниками.</p>
    </div>
  </div>

  <div class="container card-columns">
        <div class="card">
          <h2 class="card-title">Введение</h2>
          <p>Ознакомьтесь с общими правилами работы с нашим REST API.</p>
          <p>Узнайте как авторизовать запросы к Облаку, какие ошибки Облако может вернуть и получите другую необходимую информацию.</p>
          <a href="/docs/beta/rest_overview.html" class="btn btn-primary noCrossRef">Перейти</a>
        </div>
        <div class="card">
          <h2 class="card-title">Publisher API</h2>
          <p>Передавайте push-уведомления на смарт-терминалы и получайте информацию об изменениях в данных ваших клиентов.</p>
          <a href="/docs/beta/rest_publisher_access_token.html" class="btn btn-primary noCrossRef">Перейти</a>
        </div>
        <div class="card">
          <h2 class="card-title">Customer API</h2>
          <p>Управляйте данными пользователей платформы: магазинами, товарами, сотрудниками и др.</p>
          <a href="/docs/beta/rest_stores.html" class="btn btn-primary noCrossRef">Перейти</a>
        </div>
        <div class="card">
          <h2 class="card-title">Webhooks</h2>
          <p>Раздел в разработке. Следите за обновлениями.</p>
          <a href="/docs/beta/rest_webhooks_overview.html" class="btn btn-primary noCrossRef">Перейти</a>
        </div>
  </div>



  <!--scripts loaded here-->
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <script>
    $('.no_icon').magnificPopup({
      type: 'image',
      closeBtnInside: false,
      closeOnContentClick: false,

      callbacks: {
        open: function() {
          var self = this;
          self.wrap.on('click.pinhandler', 'img', function() {
            self.wrap.toggleClass('mfp-force-scrollbars');
          });
        },
        beforeClose: function() {
          this.wrap.off('click.pinhandler');
          this.wrap.removeClass('mfp-force-scrollbars');
        }
      },

      image: {
        verticalFit: false
      }

    });
  </script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/toc.js"></script>
  <script src="assets/js/anchor.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#docnavsidebar").navgoco({
        caretHtml: '',
        accordion: false,
        openClass: 'open', // open
        save: false, // leave false or nav highlighting doesn't work right
        cookie: {
          name: 'navgoco',
          expires: false,
          path: '/'
        },
        slide: {
          duration: 300,
          easing: 'swing'
        }
      });

    });
  </script>
  <script src="assets/js/customscripts.js"></script>

  <script>
    $(document).ready(function() {
      $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
      });
    });
  </script>
  <script src="assets/js/tabs.js"></script>
  <!-- Add copy to clipboard button -->
  <script>
    var allCodeBlocksElements = $("pre");

    allCodeBlocksElements.each(function(i) {
      // add different id for each code block

      // target
      var currentId = "codeblock" + (i + 1);
      $(this).attr('id', currentId);

      //trigger
      var clipButton = '<button class="btn btn-sm copy-btn" data-clipboard-target="#' + currentId + '"><img src="https://clipboardjs.com/assets/images/clippy.svg" width="13" alt="Copy to clipboard"></button>';
      $(this).prepend(clipButton);
    });

    new Clipboard('.btn');
  </script>

</body>
{% if site.google_analytics %} {% include google_analytics.html %} {% endif %}

</html>
